@font-face {
    font-family: "Street Fighter";
    src: url(../SSF4\ ABUKET.ttf) format("truetype");
}
body{
    position: relative;
    margin: 8px 0px 0px 0px;
    min-height: 900px;
    background: url("../images/background.gif");
    background-repeat: repeat-x;
    background-size: 50% 100%;
}
#charselect{
    text-align: center;
}
.player{
    position: absolute;
    top: 10%;
    width: 280px;
    height: 575px;
    color: white;
    font-family: "arial black";
}
#player1{
    float: left;
    left: 10%;
}
#player2{
    float: left;
    right: 10%;
}
.name{
    text-align: center;
}
.results{
    position: absolute;
    bottom: 0%;
    left: 30%;
    padding: 1px;
}
#ryubox{
    text-align: center;
}
#kenbox{
    text-align: center;
    transform: scaleX(-1);
}
#stage{
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 575px;
}
#arena{
    position: absolute;
    top: 50px;
    width: 600px;
    height: 525px;
    background: url("../images/sf\ stage.jpg");
    background-size: 600px 400px;
    background-repeat: no-repeat;
    visibility: hidden;
}
#p1throw{
    position: absolute;
    left: 30px;
    top: 100px;
    opacity: 0;
}
#p1throwimg{
    height: 200px;
}
#p2throw{
    opacity: 0;
    position: absolute;
    right: 30px;
    top: 100px;
    
}
#p2throwimg{
    height: 200px;
}
#gameres{
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    font-size: 80px;
    line-height: 150%;
    text-shadow:
		-2px -2px 0 red,
		2px -2px 0 red,
		-2px 2px 0 red,
		2px 2px 0 red;
    font-family: "Street Fighter";
    color: yellow;
    opacity: 0;
}
#btnarray{
    position: absolute;
    bottom: 10px;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.hand{
    padding: 0px;
    border: none;
    background: transparent;
}
.hand:hover{
    transform: scale(1.2);
}
.hand:focus{
    outline: none;
}
.hand:active{
    transform: translateY(5px) scale(1.2);
}
#chatbox{
    position: absolute;
    bottom: 2%;
    left: 10%;
    width: 80%;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
}
#history{
    overflow: auto;
    max-height: 100%;
    line-height: 12px;
}
#textbox{
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-width: 2px 0px 0px 0px;
    border-color: black;
    box-sizing: border-box;
    padding-left: 5px;
    background-color: lightgoldenrodyellow;
}
#player{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 1px;
    width: 1px;
}
@media screen and (max-width: 1700px){
    #player1{
        left: 5%;
    }
    #player2{
        right: 5%;
    }
}
@media screen and (max-width: 1500px){
    #player1{
        left: 1%;
    }
    #player2{
        right: 1%;
    }
}
@media screen and (max-width: 1366px){
    .player,#stage{
        top: 5%;
    }
    #player1{
        left: 1%;
    }
    #player2{
        right: 1%;
    }
}
@media screen and (max-width: 1200px){
    body{
        min-height: 1800px;
    }
    #player1{
        left: 5%;
        height: auto;
        width: 40%;
    }
    #ryugif{
        max-width: 100%;
        height: auto; 
    }
    #player2{
        right: 5%;
        height: auto;
        width: 40%;
    }
    #kengif{
        max-width: 100%;
        height: auto;
        
    }
    .results{
        margin-bottom: -60px;
    }
    #stage{
        margin-top: 600px;
    }
    #chatbox{
        width: 100%;
        left: 0%;
        bottom: 0%;
        border-left: none;
        border-right: none;
        height: 400px;
    }
}
