@font-face {
    font-family: "Street Fighter";
    src: url(../SSF4\ ABUKET.ttf) format("truetype");
}
body{
    position: relative;
    min-height: 900px;
    background-color: maroon;
}
#charselect{
    text-align: center;
}
.player{
    border: 1px solid black;
    position: absolute;
    top: 10%;
    width: 280px;
    height: 575px;
    background-color: lightblue;
}
#player1{
    float: left;
    left: 10%;
}
#player2{
    float: left;
    right: 10%;
}
.name{
    text-align: center;
}
.results{
    position: absolute;
    bottom: 0%;
    padding: 1px;
}
#ryugif{
    margin: auto;
    text-align: center;
}
#kengif{
    margin: auto;
    text-align: center;
    transform: scaleX(-1);
}
#stage{
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 575px;
    background: maroon;
}
#arena{
    position: absolute;
    top: 50px;
    width: 600px;
    height: 525px;
    background: url("../images/sf\ stage.jpg");
    background-size: 600px 400px;
    background-repeat: no-repeat;
    visibility: visible;
}
#p1throw{
    position: absolute;
    left: 30px;
    top: 100px;
}
#p2throw{
    position: absolute;
    right: 30px;
    top: 100px;
}
#gameres{
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    font-size: 80px;
    line-height: 150%;
    text-shadow:
		-2px -2px 0 red,
		2px -2px 0 red,
		-2px 2px 0 red,
		2px 2px 0 red;
    font-family: "Street Fighter";
    color: yellow;
}
#btnarray{
    position: absolute;
    bottom: 10px;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.hand{
    padding: 0px;
    border: none;
    background: maroon;
}
#chatbox{
    position: absolute;
    bottom: 2%;
    left: 10%;
    width: 80%;
    height: 200px;
    border: 1px solid black;
    background-color: gold;
}
#textbox{
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-width: 2px 0px 0px 0px;
    border-color: black;
    background-color: gold;
}
@media screen and (max-width: 1700px){
    #player1{
        left: 5%;
    }
    #player2{
        right: 5%;
    }
}
@media screen and (max-width: 1500px){
    #player1{
        left: 1%;
    }
    #player2{
        right: 1%;
    }
}
@media screen and (max-width: 1366px){
    .player,#stage{
        top: 5%;
    }
    #player1{
        left: 1%;
    }
    #player2{
        right: 1%;
    }
}
@media screen and (max-width: 960px){
    #player1{
        left: 5%;
    }
    #player2{
        right: 5%;
    }
}